<div class="jumbotron">
    <h1>Pinterest Clone</h1>
    <p>This is a Pinterest Clone to demonstrate working knowledge of Ruby on Rails, partials and Ruby Object Oriented Programming.</p>
    <%= link_to 'Home', root_path, class: 'btn btn-default' %>
    <%= link_to 'About Me', home_about_path, class: 'btn btn-default' %>
</div>
