<!DOCTYPE HTML>
<html>
	<head>
		<title>Charlie Learns a Thing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/grid.css" />
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>

<!-- Header -->
			<section id="header">
				<div class="inner">
					<h1>Read what people are saying.</h1>
<!--Navigation-->
					<ul class="actions">
						<li><a href="index.html" class="button scrolly">Home</a></li>
					</ul>
				</div>
			</section>

<!--Testimonials-->
			<section id="six" class="main style1">
				<div class="container">
					<header class="major">
					<h2>References</h2>
					<p>Full references available upon request. </p>
					</header>
					<h5>Test Engineer at Index Exchange</h5>
						<blockquote>Charlie and I worked very closely together during our time at Index Exchange and from my perspective he was a remarkably effective Technical Writer. Having come from a non-technical background he worked extremely hard to ramp up on any and all topics he was not familiar with such that he could write about them succinctly and intelligently. His documents were always complete and accurate and had become a staple in my workflow. Charlie was without a doubt one of the most reliable people I've ever worked with. He was consistently dedicated and hard working, always meeting deadlines and always available (and willing) to provide clarifications for any questions or ambiguities that came up.</blockquote>
					<h5>Test Engineer at Index Exchange</h5>
						<blockquote>During his time	at Index Exchange, Charlie demonstrated	an exemplary ability to learn complicated technical	systems	and	provide	thorough and easy-to-follow	documentation. Charlie possesses a strong attention	to detail and would	frequently meet	with members of	the	development	and	test team to verify	and	update his documentation to	ensure it was accurate. Charlie	is one of the most personable people I have	ever worked	with, and very quickly made	friends	with everyone within the organization.	</blockquote>
					<h5>Professor, Technical Communication Program at Seneca College</h5>
						<blockquote>Charlie is highly motivated, and is one of the top students in the class. I have found him to be detail-oriented, with a particular knack for asking pertinent questions and eliciting the information he needs for his work. He has the ability to critically analyze information and determine appropriate methodologies for accomplishing complex tasks. Charlie has distinguished himself as an outstanding student who demonstrated diligence and quality of work in every respect.</blockquote>
					<h5>International Exchanges Coordinator at The University of Waterloo</h5>
						<blockquote>Charlie Le is a person of high intelligence with excellent work habits. He has an exceptional ability to relate to others, as well as a quite remarkable capacity to adapt to new environments and situations. Charlie is a person of great integrity whom I trust completely. I am totally convinced that he would learn the specifics of new tasks very quickly, would be totally loyal to the company he worked for and would represent it with complete integrity. I recommend Charlie Le without reserve.</blockquote>
					
					
					<h5>Director of International Relations at The Ethiopian National Project</h5>
						<blockquote>Despite his willingness to execute even the most mundane of tasks to assist the organization, it quickly became clear that Charlie is exceptionally creative and has remarkable talent, in particular in the realm of animation. Charlie assisted our organization to channel his talent to meet our needs, ultimately creating an extraordinary short animated film which the organization proudly uses to this day, and about which viewers never cease to marvel. His film can be viewed here: http://www.youtube.com/enpisrael.</blockquote>
					
					
					
				</div>
			</section>			



<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>